#contacto{
  border-radius: 20px;
  margin: 2%;
  text-align: center;
  font-size: larger;
  background-color: #001f3f;
  color: #fff;
  text-align: justify;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 135%;
  padding: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

textarea {
  width: 100%;
  height: auto;
  max-width: 100%;
  resize: vertical;
}

#mapa{
  width: 110%;
}

#boton{
  text-align: justify;
}
#contenedor-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sede{
width: 40%;
margin: auto;
display: block;
}
#centrarl{
text-align: center;
}