section {
  display: grid;
  grid-template-columns: auto 72% auto;
  grid-gap: 15px;
}

section article {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-column: 2;
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  margin: 9px;
}

article * {
  grid-column: 2;
}

article > div {
  padding-bottom: 20px;
}

article p {
  margin: 0px 20px 15px 20px;
}

article div:first-child {
  grid-column: 1;
  background-size: cover;
  background-position: center;
  border-radius: 20px 0px 0px 20px;
  padding: initial;
}

article div:last-child {
  grid-column: 3;
  background-size: cover;
  border-radius: 0px 20px 20px 0px;
  padding: initial;
}

section div.fondo {
  width: 100%;
  height: 100%;
  background-image: url(../img/fondoGalaxia.png);
}

form {
  padding: 20px 20px 0px 20px;
  text-align: start;
}

form label {
  grid-column: 1;
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffcc00;
}

form select,
form input {
  grid-column: 2;
  padding: 10px;
  margin-bottom: 15px;
}

input[type="button"] {
  grid-column: 1 / span 2;
  background-color: #ffcc00;
  color: #001f3f;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 0px auto;
}

input[type="number"] {
  width: 60px;
  appearance: none;
}

#resultadoTiempo,
#resultadoPeso,
#datoCurioso,
#resultadoQuiz {
  font-size: 20px;
  font-weight: bold;
  color: #ffcc00;
  margin-top: 15px;
}

form select,
form input,
input[type="button"] {
  border: 1px solid #ffcc00;
  border-radius: 5px;
}

form select {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #001f3f;
  color: #ffcc00;
}

form select:hover {
  background-color: #001a35;
}

form input:disabled {
  background-color: #ddd;
  color: #777;
  cursor: not-allowed;
}

form input[type="button"]:hover {
  background-color: #001f3f;
  color: #ffcc00;
}

#datoCurioso {
  margin: 10px;
}

form div {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1050px) {
  label {
    display: block;
  }

  #especial label {
    display: initial;
  }
}