body {
    margin: 0px;
    display: grid;
    grid-template-rows: auto auto auto;
}

header h1 {
    font-family: "Orbitron";
    text-align: center;
    font-size: 60px;
}

header nav {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #000;
    padding: 20px;
    align-items: end;
    justify-content: center;
}

header img {
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 5px;
}

header nav ul {
    margin: 0px;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column: 3;
    justify-content: start;
}

header nav ul li a,
.activo span {
    font-family: "Orbitron";
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    padding: 20px 25px;
}

.activo span {
    margin: 0px;
    padding: 20px 25px;
    background-color: #fff;
    color: #000;
    border-radius: 15px 15px 0px 0px;
}

header nav ul li a:hover {
    background-color: #001f3f;
    color: #ffd700;
    border-radius: 15px 15px 0px 0px;
}

@media only screen and (max-width: 1350px) {

    header nav ul li a,
    .activo span {
        font-size: 15px;
    }

    header img {
        width: 50px;
    }

    header h1 {
        font-family: "Orbitron";
        text-align: center;
        font-size: 40px;
    }
}

@media only screen and (max-width: 950px) {

    header nav ul li a,
    .activo span {
        font-size: 15px;
        padding: 20px 10px;
    }

    header img {
        width: 50px;
    }
}

@media only screen and (max-width: 770px) {
    body header nav ul {
        grid-template-rows: 51px 51px 51px 51px 51px 51px;
        grid-template-columns: auto;
        justify-content: start;
        text-align: right;
    }

    header nav {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        justify-content: end;
        padding-right: 0px;
    }

    header nav ul li a,
    .activo span {
        font-size: 25px;
        padding: 10px;
    }

    header img {
        width: 40%;
    }

    .activo span {
        border-radius: 15px 0px 0px 15px;
    }

    header nav ul li a:hover {
        background-color: #001f3f;
        color: #ffd700;
        border-radius: 15px 0px 0px 15px;
    }
}

main {
    min-height: 900px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color: #000;
}

footer div>a {
    font-weight: bold;
}

footer div:first-child img {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 40px
}

footer div:last-child {
    font-size: 70%;
    margin-top: 15px;
    margin-bottom: 20px;
}

a {
    color: #800080;
    text-decoration: none;
}

a:hover {
    color: #ffd700;
}