* {
  box-sizing: border-box;
}

section article {
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  margin: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section article div {
  padding: 10px 35px;
}

section#news article img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

section#news {
  display: grid;
  grid-template-columns: auto 35% 35% auto;
}

section#news article:nth-child(odd) {
  grid-column: 2;
}

section#news article:nth-child(even) {
  grid-column: 3;
}

section#new {
  display: grid;
  grid-template-columns: auto 70% auto;
}

section#new article {
  grid-column: 2;
}

section#new article img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

section#new article {
  text-align: initial;
  font-size: 20px;
}

header > div {
  margin: 0px 10%;
}

@media only screen and (max-width: 850px) {
  section#news {
    grid-template-columns: auto 70% auto;
  }

  section#news article:nth-child(even), section#news article:nth-child(even) {
    grid-column: 2;
  }

  section#new {
    grid-template-columns: auto 90% auto;
  }
}